# Caddyfile
#
:80 {
    root * /usr/share/caddy
    file_server
    encode zstd gzip

    # Rewrite non-file requests to index.html
    try_files {path} {path}.html {path}/index.html /index.html

    # Optional: Security headers
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Content-Security-Policy "default-src 'self';"
        Referrer-Policy "strict-origin-when-cross-origin"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
}

